.exploreDiv{
    width: 100%;
    height: max-content;
}

.exploreHero{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.249);
    background-blend-mode: darken;
    color: azure;
    font-size: 45px;
}

.galleryText{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* border: solid red; */
    padding-top: 60px;
}

.galleryText h5{
    font-size: 30px;
}
.galleryText p{
    width: 75%;
    font-size: 20px;
}

.galleryDiv{
    width: 100%;
    height: max-content;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 400px 340px;
    grid-gap: 8px;
    grid-auto-flow: dense;
    margin-bottom: 80px;
}
.galleryItem{
    border-radius: 8px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.281);
    /* border-radius: 8px; */
}
.overlay .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border-radius: 8px; */
}
.overlay .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-blend-mode: darken;
    /* border-radius: 8px; */
}
.overlay:hover .image img{
    transform: scale(1.2);
}
.st2 .overlay .image img{
    object-position: top;
}
.st4 .overlay .image img{
    /* object-fit: contain; */
    object-position: top;
}
.st10 .overlay .image img{
    object-position: top;
}
.st5 .overlay .image img{
    object-position: top;
}
.st8 .overlay .image img{
    object-position: right;
}
.st7 .overlay .image img{
    object-position: center;
}
.st9 .overlay .image img{
    object-position: right;
}
.st12 .overlay .image img{
    object-position: left;
}
.st14 .overlay .image img{
    object-position: right;
}
.st15 .overlay .image img{
    object-position: top;
}
.st16 .overlay .image img{
    object-position: top;
}

.overlay .text{
    color: white;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    pointer-events: none;
    z-index: 4;
    transition: 0.3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
}

.overlay:hover .text{
    opacity: 1;
    padding: 1rem;
    animation-name: slideDown;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    /* border: solid black; */
}

.st1{
   grid-column: span 2;
   grid-row: span 2;
}
 .st3{
    grid-column: span 2;
 }
 .st4{
    grid-row: span 2;
 }
 .st10{
    grid-column: span 2;
 }
 .st11{
    grid-column: span 2;
 }
 .st16{
    grid-column: span 2;
 }

@keyframes slideDown {
    0%{
        top: 10%;
    }
    50%{
        top: 35%;
    }
    100%{
        top: 50%;
    }
}


@media screen and (max-width: 1100px) {
     .galleryDiv{
        grid-template-columns: repeat(3, 1fr);
     }
     .st4{
        grid-row: span 1;
     }
     .st3{
        grid-column: span 1;
     }
     .st5{
        grid-column: span 2;
     }
     .st6{
        grid-column: span 2;
     }
     .st9{
        grid-column: span 2;
        grid-row: span 2;
     }
     .st11{
        grid-column: span 1;
     }
     .st14{
        grid-column: span 2;
     }
     .st15{
        grid-column: span 2;
     }
     .st16{
        grid-column: span 1;
     }
}


@media screen and (max-width: 700px) {
    .galleryDiv{
        grid-template-columns: repeat(2, 1fr);
    }
    .st2{
        grid-column: span 2;
    }
}

@media screen and (max-width: 550px) {
    .st1{
        grid-row: span 1;
    }
    .st2{
        grid-column: span 1;
    }
    .st4{
        grid-column: span 2;
    }
    .st5{
        grid-column: span 1;
    }
    .st9{
        grid-row: span 1;
    }
    .st10{
        grid-column: span 1;
    }
    .st13{
        grid-column: span 2;
    }
    .st14{
        grid-column: span 1;
    }

}

@media screen and (max-width: 440px) {
    .galleryDiv{
        grid-template-columns: repeat(1, 1fr);
    }
    .st1, .st2, .st3, .st5, .st6, .st7, .st8, .st11, .st12, .st9, .st14, .st15, .st4, .st13, .st16 {
        grid-column: span 1;
        grid-row: span 1;
    }
}






























