*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  

.hero-section{
    width: 100%;
    height: 540px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-title{
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    gap: 10%;
    border-radius: 20px;
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.189);

    transition: 15s;
  
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-duration: 70s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; 
    
  }

  @keyframes animate {
    0%{
      background-image: url(/src/assets/Images/SSBytAYJRrCIqL4vJPKrAA.jpeg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
    }
    14%{
      background-image: url(/src/assets/Images/Y3x_1-a6QEiHk6QxBdfqRQ.jpeg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
    }
    28%{
        
      background-image: url(/src/assets/Images/a-sleek-modern-pedestal-fan-with-three-elegant-bla-QodJHIgESE24gZdVP2r21Q-nES843ypTIqxy369AJ-nIQ.jpeg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
    }
    42%{
      background-image: url(/src/assets/Images/a-sleek-and-modern-pedestal-fan-standing-tall-on-a-jBsgwuKUQhS-Nl3Qd3FI6w-VYiCimIpSEKI0cnfCmMsEw.jpeg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
    }
    56%{
      background-image: url(/src/assets/Images/a-stunning-high-definition-photograph-of-a-modern--6X65Nzu3TCGcZPkL2L_p1g-PINiUA4YTHS7lv3Kra_Qhw.jpeg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
    }
    84%{
        background-image: url(/src/assets/Images/a-stylish-exhaust-fan-is-depicted-in-this-creative-RgIODxBxTEmPARhdiHIXSg-gOIKkAZYQGiqZF6sjyrjHQ.jpeg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
    }
    100%{
        background-image: url(/src/assets/Images/a-stunning-modern-image-of-a-pedestal-fan-position-5_m4YNZjTP6gZA6-DCUdRA-VYiCimIpSEKI0cnfCmMsEw.jpeg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
    } 
    }
    
  
    @keyframes slideUp{
      from{transform: translateY(500%)}
    }


  .hero-vid{
    width: 47%;
    height: 400px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .weekly{
    width: 100%;
    height: 300px;
  }
  .weekly-text{
    width: 26%;
    height: 25px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 166, 0, 0.614);
  }
  .page-title{
    width: 100%;
    height: 130px;
    font-size: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    animation-name: slideUp;
    animation-duration: 2s;
  }
  .one{
    font-size: 48px;
  }
  .vid{
    width: 80%;
    height: 50px;
    display: flex;
    font-size: 14px;
    align-items: center;
    padding-left: 90px;
  }
  .inp-holder{
    width: 98%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
  }
  .inp-holder1{
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }
  .inp-holder2{
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .goods-section{
    width: 18%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }

  .goods-section-1a{
    width: 18%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  
  .goods-section2{
    width: 24%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  
  
  
  
  
  .goods-section1{
    width: 38%;
    height: 35px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  .remark{
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .advert{
    width: 90%;
    height: 280px;
    /* border-top: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .advert-image1{
    width: 32%;
    height: 230px;
    display: flex;
    align-items: center;

    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.489);
    background-blend-mode: darken;
  }
  .advert-image-text{
    width: 70%;
    height: 150px;
    color: white;
    font-size: 18px;
    margin-left: 30px;
  }
  .image-text{
    font-size: 29px;
  }
  .acct{
    width: 50%;
    height: 38px;
    font-size: 16px;
    outline: none;
    background-color: green;
    cursor: pointer;
    border: none;
    color: white;
  }
  .advert-image2{
    width: 32%;
    height: 230px;
    display: flex;
    align-items: center;
    background-image: url(/src/assets/IMAGES/home_feature_7a.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.489);
    background-blend-mode: darken;
  }
  .advert-image3{
    width: 32%;
    height: 230px;
    display: flex;
    align-items: center;
    background-image: url(/src/assets/IMAGES/home_feature_8.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.489);
    background-blend-mode: darken;
  }
  .text-box1{
    width: 80%;
    height: 50px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  #drop-down{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }
  .container-input {
    position: relative;
  }
  
  .input {
    width: 200px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  
  .container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
  .input:focus {
    opacity: 1;
    width: 250px;
  }
  
  .rec{
    background-color: transparent;
    border: none;
  }
  .rec::before {
    margin-left: auto;
  }
  
  .rec::after, .rec::before {
    display: block;
    content: '';
    width: 0%;
    height: 2px;
    background: darkblue;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .rec:hover::after, .rec:hover::before {
    width: 100%;
  }

  .idi{
    animation-name: slideUp;
    animation-duration: 3s;
  }

.ceilingfan{
  width: 28.5%;
  height: 500px;
  position: absolute;
  z-index: -2;
}

/* From Uiverse.io by doniaskima */ 
.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}



.marqueeContainer{
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}

.multi-colored-line {
  width: 100% !important;
  height: 6px;
  margin-top: -1.5px;
  z-index: 3;
  background: linear-gradient(to right, #114c8d 40%, #9bc002 40%, #9bc002 65%, #eb7824 65%, #eb7824 85%, #057a82 85%, #057a82 100%);

}
.new-multi-coloured-line {
  background: linear-gradient(to right, #114c8d 35%, #d32e12 35%, #d32e12 65%, #9bc002 65%, #9bc002 85%, #eb7824 85%, #eb7824 95%, #057a82 95%, #057a82 100%) !important;
}




.btn-17 {
  border-radius: 99rem;
  z-index: 0;
  width: 27%;
  height: 46px;
  font-weight: bold;
  animation-name: slideUp;
  animation-duration: 4s;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;

  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}


@media screen and (max-width: 1232px) {
  .page-title{
    font-size: 27px;
  }
}

@media screen and (max-width: 1109px) {
  .page-title{
    font-size: 25px;
  }
  .goods-section{
    width: 18%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  .goods-section-1a{
    width: 18%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  .goods-section2{
    width: 18%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  #drop-down{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }
}

@media screen and (max-width: 1026px) {
  .page-title{
    font-size: 23px;
  }
  .goods-section{
    width: 17%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  .goods-section-1a{
    width: 17%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  .goods-section2{
    width: 17%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  #drop-down{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }
  .weekly-text{
    width: 29%;
    height: 25px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 166, 0, 0.614);
  }
  .inp-holder1{
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }
  .inp-holder{
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
  }
  .goods-section1{
    width: 50%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  .inp-holder2{
    width: 17%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}

@media screen and (max-width: 944px){
  .page-title{
    font-size: 22px;
  }
  .ceilingfan{
    display: none;
  }
  .advert-image2{
    width: 32%;
    height: 230px;
    display: flex;
    align-items: center;
    background-image: url(/src/assets/Images/create-an-image-of-pedestal-fan-3_dGco5LQE6qVSO8OC2PPg-nES843ypTIqxy369AJ-nIQ.jpeg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.489);
    background-blend-mode: darken;
  }
  .advert-image3{
    width: 32%;
    height: 230px;
    display: flex;
    align-items: center;
    background-image: url(/src/assets/Images/create-an-image-of-exhaust-fans-0s7YIkJQT5uLgogPRWQ9UA-lOFtHj1qTHKcCq26MfyPGA.jpeg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.489);
    background-blend-mode: darken;
  }
  .advert-image1{
    width: 32%;
    height: 230px;
    display: flex;
    align-items: center;
    background-image: url(/src/assets/Images/CxwSholeSceU-axBntxUzw.jpeg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.489);
    background-blend-mode: darken;
  }
  #drop-down{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }
  .bi-sliders2-vertical{
    font-size: 14px;
  }
  .goods-section1{
    font-size: 13px;
  }
  .inp-holder2{
    width: 19%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .inp-holder1{
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 904px) {
  .page-title{
    font-size: 20px;
  }
  .weekly-text{
    width: 32%;
    height: 25px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 166, 0, 0.614);
  }
  .btn-17 {
    border-radius: 99rem;
    z-index: 0;
    width: 29%;
    height: 40px;
    font-weight: bold;
    animation-name: slideUp;
    animation-duration: 4s;
  }
}

@media screen and (max-width: 822px) {
  .page-title{
    font-size: 22px;
  }
  .vid{
    width: 80%;
    height: 50px;
    display: flex;
    font-size: 12px;
    align-items: center;
    padding-left: 90px;
  }
  .btn-17 {
    border-radius: 99rem;
    z-index: 0;
    width: 30%;
    height: 46px;

    animation-name: slideUp;
    animation-duration: 4s;
  }
  .hero-title{
    width: 100%;
    height: 470px;
    display: flex;
    align-items: center;
    gap: 9%;
    border-radius: 0px;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.189);

    transition: 15s;
  
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-duration: 70s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; 
  }

  @keyframes animate {
    0%{
      background-image: url(/src/assets/Images/SSBytAYJRrCIqL4vJPKrAA.jpeg);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center;

    }
    14%{
      background-image: url(/src/assets/Images/Y3x_1-a6QEiHk6QxBdfqRQ.jpeg);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center;

    }
    28%{
        
      background-image: url(/src/assets/Images/a-sleek-modern-pedestal-fan-with-three-elegant-bla-QodJHIgESE24gZdVP2r21Q-nES843ypTIqxy369AJ-nIQ.jpeg);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center;

    }
    42%{
      background-image: url(/src/assets/Images/a-sleek-and-modern-pedestal-fan-standing-tall-on-a-jBsgwuKUQhS-Nl3Qd3FI6w-VYiCimIpSEKI0cnfCmMsEw.jpeg);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center;

    }
    56%{
      background-image: url(/src/assets/Images/a-stunning-high-definition-photograph-of-a-modern--6X65Nzu3TCGcZPkL2L_p1g-PINiUA4YTHS7lv3Kra_Qhw.jpeg);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center;

    }
    84%{
        background-image: url(/src/assets/Images/a-stylish-exhaust-fan-is-depicted-in-this-creative-RgIODxBxTEmPARhdiHIXSg-gOIKkAZYQGiqZF6sjyrjHQ.jpeg);
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center;

    }
    100%{
        background-image: url(/src/assets/Images/a-stunning-modern-image-of-a-pedestal-fan-position-5_m4YNZjTP6gZA6-DCUdRA-VYiCimIpSEKI0cnfCmMsEw.jpeg);
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center;
    } 
    }

    .advert{
      width: 100%;
      height: 280px;
      /* border-top: 1px solid black; */
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .inp-holder{
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6%;
    }
    .inp-holder2{
      width: 20%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: end;
    }
    .goods-section{
      width: 19%;
      height: 35px;
      background-color: rgba(0, 0, 0, 0.128);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      cursor: pointer;
      font-weight: normal;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      border-radius: 20px;
    }
    .goods-section-1a{
      width: 19%;
      height: 35px;
      background-color: rgba(0, 0, 0, 0.128);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      cursor: pointer;
      font-weight: normal;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      border-radius: 20px;
    }
    .goods-section2{
      width: 19%;
      height: 35px;
      background-color: rgba(0, 0, 0, 0.128);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      cursor: pointer;
      font-weight: normal;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      border-radius: 20px;
    }
}

@media screen and (max-width: 804px) {
  .page-title{
    font-size: 21px;
  }
}

@media screen and (max-width: 768px) {
  .page-title{
    font-size: 20px;
  }
  .image-text{
    font-size: 27px;
  }
  .goods-section2{
    display: none;
  }
}

@media screen and (max-width: 7653px) {

  .image-text{
    font-size: 22px;
  }

}

@media screen and (max-width: 7653px) {
  .page-title{
    font-size: 19px;
  }
  .vid{
    width: 80%;
    height: 50px;
    display: flex;
    font-size: 11px;
    align-items: center;
    padding-left: 90px;
  }
  .text-box1{
    font-size: 11px;
  }

}

@media screen and (max-width: 698px) {

  .weekly-text{
    width: 38%;
    height: 25px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 166, 0, 0.614);
  }
  .btn-17 {
    border-radius: 99rem;
    z-index: 0;
    width: 35%;
    height: 43px;

    animation-name: slideUp;
    animation-duration: 4s;
  }
  .acct{
    width: 59%;
    height: 38px;
    font-size: 16px;
    outline: none;
    background-color: green;
    cursor: pointer;
    border: none;
    color: white;
  }
  .image-text{
    font-size: 23px;
  }
  .goods-section{
    width: 22%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  .goods-section-1a{
    width: 22%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
}

@media screen and (max-width: 695px) {
  .page-title{
    font-size: 17px;
  }
}

@media screen and (max-width: 656px) {
  .page-title{
    font-size: 17px;
  }
  .goods-section1{
    width: 60%;
    height: 35px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }

}


@media screen and (max-width: 1062px) {
  .hero-title{
    width: 100%;
    height: 460px;
    display: flex;
    align-items: center;
    background-image: url();
    background-size: cover;
    border-radius: 0px;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.189);

    transition: 15s;
  
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-duration: 70s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; 
  }
  .hero-section{
    width: 100%;
    height: 470px;
    display: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inp-holder{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
  }
  .advert{
    width: 100%;
    height: 280px;
    /* border-top: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ceilingfan{
    width: 32%;
    height: 230px;
    position: absolute;
    z-index: -2;
  }
  .goods-section1{
    width: 40%;
    height: 35px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  @keyframes animate {
    0%{
      background-image: url(/src/assets/Images/SSBytAYJRrCIqL4vJPKrAA.jpeg);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center;
    }
    14%{
      background-image: url(/src/assets/Images/Y3x_1-a6QEiHk6QxBdfqRQ.jpeg);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center;
    }
    28%{
        
      background-image: url(/src/assets/Images/a-sleek-modern-pedestal-fan-with-three-elegant-bla-QodJHIgESE24gZdVP2r21Q-nES843ypTIqxy369AJ-nIQ.jpeg);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center;
    }
    42%{
      background-image: url(/src/assets/Images/a-sleek-and-modern-pedestal-fan-standing-tall-on-a-jBsgwuKUQhS-Nl3Qd3FI6w-VYiCimIpSEKI0cnfCmMsEw.jpeg);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center;
    }
    56%{
      background-image: url(/src/assets/Images/a-stunning-high-definition-photograph-of-a-modern--6X65Nzu3TCGcZPkL2L_p1g-PINiUA4YTHS7lv3Kra_Qhw.jpeg);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center;
    }
    84%{
        background-image: url(/src/assets/Images/a-stylish-exhaust-fan-is-depicted-in-this-creative-RgIODxBxTEmPARhdiHIXSg-gOIKkAZYQGiqZF6sjyrjHQ.jpeg);
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center;
    }
    100%{
        background-image: url(/src/assets/Images/a-stunning-modern-image-of-a-pedestal-fan-position-5_m4YNZjTP6gZA6-DCUdRA-VYiCimIpSEKI0cnfCmMsEw.jpeg);
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center;
    } 
    }
  
}








@media screen and (max-width: 1140px) {

  .hero-title{
    width: 100%;
    height: 460px;
    display: flex;
    align-items: center;
    background-image: url();
    background-size: cover;
    border-radius: 0px;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.189);

    transition: 15s;
  
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-duration: 70s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; 
  }
  .hero-section{
    width: 100%;
    height: 470px;
    display: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inp-holder{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
  }
  .advert{
    width: 100%;
    height: 280px;
    /* border-top: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ceilingfan{
    width: 32%;
    height: 230px;
    position: absolute;
    z-index: -2;
  }
  .goods-section1{
    width: 40%;
    height: 35px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  @keyframes animate {
    0%{
      background-image: url(/src/assets/Images/SSBytAYJRrCIqL4vJPKrAA.jpeg);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center;
    }
    14%{
      background-image: url(/src/assets/Images/Y3x_1-a6QEiHk6QxBdfqRQ.jpeg);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center;
    }
    28%{
        
      background-image: url(/src/assets/Images/a-sleek-modern-pedestal-fan-with-three-elegant-bla-QodJHIgESE24gZdVP2r21Q-nES843ypTIqxy369AJ-nIQ.jpeg);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center;
    }
    42%{
      background-image: url(/src/assets/Images/a-sleek-and-modern-pedestal-fan-standing-tall-on-a-jBsgwuKUQhS-Nl3Qd3FI6w-VYiCimIpSEKI0cnfCmMsEw.jpeg);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center;
    }
    56%{
      background-image: url(/src/assets/Images/a-stunning-high-definition-photograph-of-a-modern--6X65Nzu3TCGcZPkL2L_p1g-PINiUA4YTHS7lv3Kra_Qhw.jpeg);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center;
    }
    84%{
        background-image: url(/src/assets/Images/a-stylish-exhaust-fan-is-depicted-in-this-creative-RgIODxBxTEmPARhdiHIXSg-gOIKkAZYQGiqZF6sjyrjHQ.jpeg);
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center;
    }
    100%{
        background-image: url(/src/assets/Images/a-stunning-modern-image-of-a-pedestal-fan-position-5_m4YNZjTP6gZA6-DCUdRA-VYiCimIpSEKI0cnfCmMsEw.jpeg);
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center;
    } 
    }
    .inp-holder{
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 9%;
    }
  
}

@media screen and (max-width: 837px) {
  .goods-section1{
    width: 49%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  .bi-sliders2-vertical{
    font-size: 12px;
  }
}

@media screen and (max-width: 822px) {
  .one{
    font-size: 42px;
  }
}

@media screen and (max-width: 766px){
  .one{
    font-size: 41px;
  }
}

@media screen and (max-width: 750px) {
  .one{
    font-size: 38px;
  }
  @keyframes animate {
    0%{
      background-image: url(/src/assets/Images/SSBytAYJRrCIqL4vJPKrAA.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    14%{
      background-image: url(/src/assets/Images/Y3x_1-a6QEiHk6QxBdfqRQ.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    28%{
        
      background-image: url(/src/assets/Images/a-sleek-modern-pedestal-fan-with-three-elegant-bla-QodJHIgESE24gZdVP2r21Q-nES843ypTIqxy369AJ-nIQ.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    42%{
      background-image: url(/src/assets/Images/a-sleek-and-modern-pedestal-fan-standing-tall-on-a-jBsgwuKUQhS-Nl3Qd3FI6w-VYiCimIpSEKI0cnfCmMsEw.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    56%{
      background-image: url(/src/assets/Images/a-stunning-high-definition-photograph-of-a-modern--6X65Nzu3TCGcZPkL2L_p1g-PINiUA4YTHS7lv3Kra_Qhw.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    84%{
        background-image: url(/src/assets/Images/a-stylish-exhaust-fan-is-depicted-in-this-creative-RgIODxBxTEmPARhdiHIXSg-gOIKkAZYQGiqZF6sjyrjHQ.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    100%{
        background-image: url(/src/assets/Images/a-stunning-modern-image-of-a-pedestal-fan-position-5_m4YNZjTP6gZA6-DCUdRA-VYiCimIpSEKI0cnfCmMsEw.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    } 
    }
}

@media screen and (max-width: 708px) {
  .btn-17 {
    border-radius: 99rem;
    z-index: 0;
    width: 29%;
    height: 46px;
    font-weight: bold;
    animation-name: slideUp;
    animation-duration: 4s;
  }
  .btn-17 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
  }
  .weekly-text{
    width: 36%;
    height: 25px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 166, 0, 0.614);
  }
}


@media screen and (max-width: 674px){
  .btn-17 {
    border-radius: 99rem;
    z-index: 0;
    width: 33%;
    height: 46px;
    font-weight: bold;
    animation-name: slideUp;
    animation-duration: 4s;
  }
  .one{
    font-size: 34px;
  }
}

@media screen and (max-width: 651px) {
  .goods-section1{
    width: 67%;
    height: 35px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
}


@media screen and (max-width: 664px) {
  .weekly-text{
    width: 39%;
    height: 25px;
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 166, 0, 0.614);
  }
  .goods-section1{
    width: 58%;
    height: 35px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  .image-text{
    font-size: 22px;
  }
  .acct{
    width: 63%;
    height: 38px;
    font-size: 16px;
    outline: none;
    background-color: green;
    cursor: pointer;
    border: none;
    color: white;
  }
}

@media screen and (max-width: 604px) {
  .goods-section{
    width: 24%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  .goods-section-1a{
    width: 24%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  .image-text{
    font-size: 20px;
  }
  .one{
    font-size: 45px;
  }
  .idi{
    font-size: 16px;
    font-weight: bold;
  }
  .rnfo{
    width: 180%;
  }
  .page-title{
    width: 190%;
    height: 85px;
    font-size: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    animation-name: slideUp;
    animation-duration: 2s;
  }
}


@media screen and (max-width: 568px) {
  .one{
    font-size: 45px;
  }
  .idi{
    font-size: 16px;
    font-weight: bold;
  }
  .rnfo{
    width: 180%;
  }
  .page-title{
    width: 190%;
    height: 85px;
    font-size: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    animation-name: slideUp;
    animation-duration: 2s;
  }
  .btn-17 {
    border-radius: 99rem;
    z-index: 0;
    width: 38%;
    height: 43px;
    font-weight: bold;
    animation-name: slideUp;
    animation-duration: 4s;
  }
  .inp-holder2{
    display: none;
    visibility: hidden;
  }
  .inp-holder1{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }
 
}

@media screen and (max-width: 532px) {
  .page-title{
    width: 190%;
    height: 85px;
    font-size: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    animation-name: slideUp;
    animation-duration: 2s;
  }
  .vid{
    width: 80%;
    height: 50px;
    display: flex;
    font-size: 10px;
    align-items: center;
    padding-left: 50px;
  }
  .one{
    font-size: 43px;
  }
  .idi{
    font-size: 14px;
    font-weight: bold;
  }
  .rnfo{
    width: 180%;
  }
  .advert{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1%;
  }
  .remark{
    width: 100%;
    height: 620px;
    /* border-top: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .advert-image3{
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    background-image: url(/src/assets/Images/create-an-image-of-exhaust-fans-0s7YIkJQT5uLgogPRWQ9UA-lOFtHj1qTHKcCq26MfyPGA.jpeg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.489);
    background-blend-mode: darken;
  }
  .advert-image1{
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    background-image: url(/src/assets/Images/CxwSholeSceU-axBntxUzw.jpeg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.489);
    background-blend-mode: darken;
  }
  .advert-image2{
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    background-image: url(/src/assets/Images/create-an-image-of-pedestal-fan-3_dGco5LQE6qVSO8OC2PPg-nES843ypTIqxy369AJ-nIQ.jpeg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.489);
    background-blend-mode: darken;
  }
  .image-text{
    font-size: 25px;
  }
  .acct{
    width: 40%;
    height: 38px;
    font-size: 16px;
    outline: none;
    background-color: green;
    cursor: pointer;
    border: none;
    color: white;
  }
}


@media screen and (max-width: 497px) {
  .weekly-text{
    width: 50%;
    height: 25px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 166, 0, 0.614);
  }


  .vid{
    width: 80%;
    height: 50px;
    display: flex;
    font-size: 10px;
    align-items: center;
    padding-left: 50px;
  }
  .btn-17 {
    border-radius: 99rem;
    z-index: 0;
    width: 45%;
    height: 40px;
    font-weight: bold;
    animation-name: slideUp;
    animation-duration: 4s;
  }
  .idi{
    font-size: 14px;
    font-weight: bold;
  }
  .rnfo{
    width: 180%;
  }
  .page-title{
    width: 190%;
    height: 85px;
    font-size: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    animation-name: slideUp;
    animation-duration: 2s;
  }
  .one{
    font-size: 39px;
  }
}




@media screen and (max-width: 451px) {
  .weekly-text{
    width: 53%;
    height: 25px;
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 166, 0, 0.614);
  }
  .idi{
    font-size: 14px;
    font-weight: bold;
    line-height: 23px;
  }
  .rnfo{
    width: 180%;
    height: 50px;
  }
  .page-title{
    width: 190%;
    height: 85px;
    font-size: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    animation-name: slideUp;
    animation-duration: 2s;
  }
  .one{
    font-size: 35px;
  }
}




@media screen and (max-width: 426px) {
  .goods-section{
    width: 22%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  .goods-section-1a{
    width: 22%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  #drop-down{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 11px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }
  .idi{
    font-size: 14px;
    font-weight: bold;
  }
  .rnfo{
    width: 180%;
    height: 50px;
  }
  .page-title{
    width: 190%;
    height: 85px;
    font-size: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    animation-name: slideUp;
    animation-duration: 2s;
  }
  .one{
    font-size: 33px;
  }
}





@media screen and (max-width: 391px) {

  .btn-17 {
    border-radius: 99rem;
    z-index: 0;
    width: 59%;
    height: 38px;
    animation-name: slideUp;
    animation-duration: 4s;
  }
  .weekly-text{
    width: 59%;
    height: 25px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 166, 0, 0.614);
  }
  .idi{
    font-size: 14px;
    font-weight: bold;
  }
  .rnfo{
    width: 180%;
  }
  .page-title{
    width: 190%;
    height: 85px;
    font-size: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    animation-name: slideUp;
    animation-duration: 2s;
  }
  .one{
    font-size: 33px;
  }
}



@media screen and (max-width: 355px) {
  .weekly-text{
    width: 67%;
    height: 25px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 166, 0, 0.614);
  }
  .idi{
    font-size: 14px;
    font-weight: bold;
  }
  .rnfo{
    width: 180%;
  }
  .page-title{
    width: 190%;
    height: 85px;
    font-size: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    animation-name: slideUp;
    animation-duration: 2s;
  }
  .one{
    font-size: 33px;
  }
}



@media screen and (max-width: 309px) {
  .weekly-text{
    width: 76%;
    height: 25px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 166, 0, 0.614);
  }
  .goods-section-1a{
    width: 22%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    display: none;
    visibility: hidden;
  }

  .goods-section{
    width: 30%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.128);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    cursor: pointer;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
  }
  .acct{
    width: 40%;
    height: 38px;
    font-size: 14px;
    outline: none;
    background-color: green;
    cursor: pointer;
    border: none;
    color: white;
  }
  .vid{
    width: 80%;
    height: 50px;
    display: flex;
    font-size: 10px;
    align-items: center;
    padding-left: 20px;
  }
  .rnfo{
    width: 180%;
  }
  .page-title{
    width: 190%;
    height: 85px;
    font-size: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    animation-name: slideUp;
    animation-duration: 2s;
  }
  .one{
    font-size: 28px;
  }
}


@media screen and (max-width: 267px) {
  .weekly-text{
    width: 89%;
    height: 25px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 166, 0, 0.614);
  }
  .acct{
    width: 52%;
    height: 38px;
    font-size: 14px;
    outline: none;
    background-color: green;
    cursor: pointer;
    border: none;
    color: white;
  }
  .btn-17 {
    border-radius: 99rem;
    z-index: 0;
    width: 79%;
    height: 38px;
    animation-name: slideUp;
    animation-duration: 4s;
    margin-top: 20px;
  }
  .page-title{
    width: 190%;
    height: 85px;
    font-size: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

    animation-name: slideUp;
    animation-duration: 2s;
  }
    
  .one{
    font-size: 25px;
  }
  .rnfo{
    width: 180%;
  }
  .vid{
    width: 80%;
    height: 50px; 
    display: flex;
    font-size: 10px;
    align-items: center;
    padding-left: 20px;
  }
  .our{
    font-size: 18px;
  }
  .idi{
    font-size: 14px;
    font-weight: bold;
  }
}

@media screen and (max-width: 634px) {
  .acct{
    width: 80%;
    height: 38px;
    font-size: 14px;
    outline: none;
    background-color: green;
    cursor: pointer;
    border: none;
    color: white;
  }
}


@media screen and (max-width: 833px) {
  .one{
    font-size: 47px;
  }
}

@media screen and (max-width: 816px) {
  .one{
    font-size: 45px;
  }
  .acct{
    width: 80%;
    height: 38px;
    font-size: 14px;
    outline: none;
    background-color: green;
    cursor: pointer;
    border: none;
    color: white;
  }
}

@media screen and (max-width: 781px){
  .one{
    font-size: 43px;
  }
}

@media screen and (max-width: 781px){
  .one{
    font-size: 40px;
  }
}


@media screen and (max-width: 695px){
  .one{
    font-size: 37px;
  }
}


@media screen and (max-width: 643px){
  .one{
    font-size: 35px;
  }
}

@media screen and (max-width: 608px){
  .one{
    font-size: 33px;
  }
}

@media screen and (max-width: 605px){
  .one{
    font-size: 49px;
  }
}

@media screen and (max-width: 532px) {
  .acct{
    width: 40%;
    height: 38px;
    font-size: 17px;
    outline: none;
    background-color: green;
    cursor: pointer;
    border: none;
    color: white;
  }
}

@media screen and (max-width: 448px) {
  .one{
    font-size: 40px;
  }
}

@media screen and (max-width: 366px) {
  .one{
    font-size: 38px;
  }
}


@media screen and (max-width: 347px) {
  .one{
    font-size: 35px;
  }
}

@media screen and (max-width: 347px) {
  .acct{
    width: 50%;
    height: 38px;
    font-size: 17px;
    outline: none;
    background-color: green;
    cursor: pointer;
    border: none;
    color: white;
  }
}

@media screen and (max-width: 320px) {
  .one{
    font-size: 30px;
  }
}












