.productDiv{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productWrap{
    width: 100%;
    height: max-content;
    padding: 40px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.products{
    width: 100%;
    height: 350px;
    /* border: solid red; */
}
.imageDiv{
    width: 100%;
    height: 75%;
}
.imageDiv>img{
    width: 100%;
    height: 100%;
}