.aboutDiv{
    width: 100%;
    height: max-content;
}

.aboutHero{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: rgb(210, 219, 219); */
    color: gainsboro;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.379);
    background-blend-mode: darken;
}

.learn{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.learn>h5{
    font-size: 27px;
}